footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  width: 100%;
  /* background: linear-gradient(180deg, rgb(160, 115, 243), rgb(98, 12, 138));
 border-radius: 10vw 10vw 0 0;
 */
 background-color: rgb(172, 172, 172);
  margin-inline: -5vw;
  margin-bottom: -5vw;
  width: 103vw;
}
.loginFooter {
  text-decoration: dotted;

  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 10px;
  padding: 5px;
  padding-inline: 15px;
  margin-left: 5vw;
  font-size: 2vw;

  transition: all 0.4s ease-in-out;
}
.copy {
  margin-top: 5vw;
}
.copy p {
  font-weight: bold;
  margin-top: 5vw;
  font-size: 1.5vw;
}

.linksFooter {
  width: 10vw;
  text-align: center;
}
.linksFooter p {
  font-size: 2vw;
  color: black;
  text-decoration: solid;
  font-weight: bolder;
  margin-bottom: 10px;
}
.linksFooter a {
  font-size: 2vw;
  color: black;
  text-decoration: dotted;
  transition: all 0.4s ease-in-out;
  margin: 3px;
}
.linksFooter a:hover {
  font-size: 2vw;
  color: rgb(68, 83, 1);
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.logoFooter {
  margin: -1vw;
  width: 15vw;
}
