.Navbar .fa-bars,
.Navbar .fa-times {
  font-size: 48px;
  pointer-events: none;
  display: none;
}

.Navbar input[type="checkbox"] {
  opacity: 0;
  display: none;
}

nav {
  display: flex;
  padding: 10px;
  height: fit-content;
  border-radius: 10px;
  /*
  background: linear-gradient(
    180deg,
    rgba(77, 187, 238, 0.685) 0%,
    rgb(129, 20, 224) 100%
  );*/
}

.Navbar {
  background-color: rgba(255, 255, 255, 0);
  height: 70px;
  display: flex;
  width: 100%;
  padding-top: 3vh;
  justify-content: space-between;
}
.links {
  text-transform: uppercase;
  display: flex;
  padding-right: 3vw;
  font-family: "Barlow Condensed", sans-serif;
  color: rgb(70, 70, 70);
  font-weight: 900;
}

.links a {
  text-decoration: dotted;

  color: black;
  transition: all 0.7s ease-in-out;
  padding-inline: 2vw;
}

.links a:hover {
  transition: all 0.7s ease-in-out;
  text-decoration: underline;
  color: rgb(168, 255, 6);
}
.logo {
  justify-self: start;
  align-self: flex-start;
  padding: 20px;
  margin: -7vh;
  margin-left: 1vw;

  width: 100px;
}
.login {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px;
  margin: -5px;
}
@media screen and (max-width: 875px) {
  .links a {
    padding-inline: 1vw;
    font-size: 16px;
    font-weight: 700;
  }
}
@media screen and (max-width: 475px) {
  .Navbar input[type="checkbox"],
  .Navbar .fa-bars,
  .Navbar .fa-times {
    z-index: 3;
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 1px;
    right: 30px;
    top: 0;
    width: 48px;
    height: 48px;
    display: block;
    color: white;
    border-radius: 5px;
    background-color: gray;
  }

  .Navbar .fa-bars,
  .Navbar .fa-times {
    font-size: 48px;
    pointer-events: none;
  }

  .Navbar input[type="checkbox"] {
    opacity: 0;
    display: block;
  }

  .Navbar {
    color: white;
    position: relative;
    min-height: 48px;
    z-index: 3;
  }

  .Navbar nav {
    border: 10px;
    height: fit-content;
    width: fit-content;
    -webkit-box-shadow: -6px 6px 6px 3px rgba(2, 2, 2, 0.67);
    -moz-box-shadow: -6px 6px 6px 3px rgba(0, 0, 0, 0.67);
    box-shadow: -6px 6px 6px 3px rgba(0, 0, 0, 0.67);
  
    text-align: center;
    margin-inline: 50px;
    padding-inline: 15vw;
    justify-content: center;
    flex-direction: column;

    border-color: black;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    display: none;
  }

  .logo {
    justify-self: start;
    align-self: flex-start;
    padding-left: 1vw;
    width: 12vh;
  }
  .Navbar input:checked ~ nav {
    display: block;
  }

  .Navbar input:checked ~ .fa-bars {
    display: none;
  }

  .Navbar input:not(:checked) ~ .fa-times {
    display: none;
  }

  .links {
    position: relative;
    left: 0;
    width: 100%;
  }
  .links a {
    transition: all 0.7s ease-in-out;

    padding-inline: 2vw;
  }
}
