.flex {
  display: flex;
  align-items: center;
}
.rectangulo {
  background-color: black;
  width: 50vw;
  height: 5vw;
  margin-left: 5vw;
  rotate: 5deg;
  margin-top: -3vw;
  border-radius: 10px;
}
.titulo {
  background-color: rgb(35, 182, 182);
  width: 60vw;
  border-radius: 10px;

  height: 5vw;
  margin: 80px 0;
  margin-left: 20vw;
  padding: 0.5vw;

  rotate: 355deg;
}
.titulo h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 5vw;
  text-align: center;
}

.imgFlex {
  background-size: cover;
  width: 65vw;
  height: 35vw;
}
.bg-black {
  display: table;
  height: 35vw;
  width: 35vw;
  color: white;
  background-color: black;
  text-align: center;
}
.bg-black h2 {
  display: table-cell;
  vertical-align: middle;
  font-size: 3vw;
  padding-inline: 80px;
}
.bg-white {
  width: 35vw;
  display: table;
}
.bg-white h2 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 2.5vw;
  padding-inline: 40px;
}
.add{
  display: flex;
  justify-content: center;
  margin: 5vw;
  align-items: center;
}
.addElement{
  margin-inline: 5vw;
  text-align: center;
  font-size: 1.8vw;
}
.addElement img{
  width: 10vw;
}
@media screen and (max-width: 475px) {
  .add{
    display:block;
    justify-content: center;
    margin: 5vw;
    align-items: center;
  }
  .addElement{
    margin-bottom: 10vw;
    margin-inline: 1vw;
    text-align: center;
    font-size: 5vw;
  }
  .addElement img{
    width: 30vw;
  }

  .flex {
    display: block;
    align-items: center;
  }
  .revers{
    display: flex;
    flex-flow: row wrap-reverse
  }
  .bg-black{
    width: 100%;
    height: 50vw;
    
  }
  .bg-black h2{
    font-size: 5vw;
  }
  .bg-white{
    width: 100%; 
    height: 50vw; 
  }
  .bg-white h2{
    font-size: 4vw;
  }
  .imgFlex{
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .rectangulo {
    background-color: black;
    width: 50vw;
    height: 7vw;
    margin-left: 5vw;
    rotate: 5deg;
    margin-top: -3vw;
    border-radius: 10px;
  }
  .titulo {
    background-color: rgb(35, 182, 182);
    width: 60vw;
    border-radius: 10px;
  
    height: 7vw;
    margin: 80px 0;
    margin-left: 20vw;
    padding: 0.5vw;
  
    rotate: 355deg;
  }
  .titulo h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
    font-size: 7vw;
    text-align: center;
  }
}